In [9]:
import pandas as pd
passengers=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
#print(passengers.head(2))

#filling missing passengger age with all passengers meadian age using median method
passengers["Age"]=passengers["Age"].fillna(passengers["Age"].median())

#now will fill embark column with most common values for that we use .mode()[0] multiple modes mdla 1st select krte method to fill missing values in embark
passengers["Embarked"]=passengers["Embarked"].fillna(passengers["Embarked"].mode()[0])

#Drop the Cabin column (too many missing values
#.drop(columns=["Cabin"]) removes the "Cabin" column.
#inplace=True modifies the DataFrame directly instead of creating a copy.

passengers.drop(columns=["Cabin"], inplace=True)

#Create a new column FamilySize = SibSp + Parch + 1.
passengers["Familysize"]=passengers["SibSp"] + passengers["Parch"] + 1

#Convert Sex into numerical (0 = Female, 1 = Male).
passengers["Sex"]=passengers["Sex"].map({"female": 0, "male": 1})
                         
#Convert Embarked into numerical (C=0, Q=1, S=2).
passengers["Embarked"]=passengers["Embarked"].map({"C":0, "Q":1, "S":2})

#Save the cleaned dataset into a new CSV file (titanic_cleaned.csv).
passengers.to_csv("titanic_cleandata.csv", index= False)

# Installing Required Libraries

In [10]:
!pip install psycopg2 mysql-connector-python pandas sqlalchemy

Collecting psycopg2
  Using cached psycopg2-2.9.10.tar.gz (385 kB)
  Preparing metadata (setup.py) ... done
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp310-cp310-macosx_14_0_arm64.whl.metadata (6.0 kB)
Requirement already satisfied: pandas in /Users/kapiltayde/miniforge3/envs/dataenv/lib/python3.10/site-packages (2.2.3)
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.38-cp310-cp310-macosx_11_0_arm64.whl.metadata (9.6 kB)
Requirement already satisfied: numpy>=1.22.4 in /Users/kapiltayde/miniforge3/envs/dataenv/lib/python3.10/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/kapiltayde/miniforge3/envs/dataenv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/kapiltayde/miniforge3/envs/dataenv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/kapiltayde/miniforge3/envs/dataenv/lib/python3.10/site-packages (from pandas) (2025.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/kapiltayde/miniforge3/envs/dataenv/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in /Users/kapiltayde/miniforge3/envs/dataenv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading mysql_connector_python-9.2.0-cp310-cp310-macosx_14_0_arm64.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 8.3 MB/s eta 0:00:00a 0:00:01
Downloading SQLAlchemy-2.0.38-cp310-cp310-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 25.3 MB/s eta 0:00:00
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp310-cp310-macosx_11_0_arm64.whl size=132505 sha256=c91973629f9e9f5d10b7233ad638d91ff8bf389b7b85b0857417ee9b5f20011b
  Stored in directory: /Users/kapiltayde/Library/Caches/pip/wheels/51/41/e0/2912ad51b01f454d26dfb26e5cc5923874656749b9e83943a8
Successfully built psycopg2
Installing collected packages: sqlalchemy, psycopg2, mysql-connector-python
Successfully installed mysql-connector-python-9.2.0 psycopg2-2.9.10 sqlalchemy-2.0.38

# Loading Cleaned Data

In [12]:
import pandas as pd

# Load the cleaned Titanic dataset
df = pd.read_csv("titanic_cleandata.csv")

# Display the first 5 rows to verify
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Familysize
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,2,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,0,2
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,2,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,2,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,2,1

# Connecting to  mySQL database

In [15]:
from sqlalchemy import create_engine

# MySQL credentials
username = "root"  
password = "Aaru%40111"  
host = "localhost"  
port = "3306"  
db_name = "titanic_db"  

# Create connection
engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{db_name}")

# Connect to MySQL
try:
    conn = engine.connect()
    print("✅ Connected to MySQL successfully")
except Exception as e:
    print(f"❌ Connection failed: {e}")

✅ Connected to MySQL successfully

# Inserting data into database;

In [16]:
import pandas as pd

# Load the cleaned dataset
df = pd.read_csv("titanic_cleandata.csv")

# Insert Data into MySQL Table
df.to_sql(name="passengers", con=engine, if_exists="replace", index=False)

print("✅ Data inserted into MySQL successfully!")

✅ Data inserted into MySQL successfully!